{% extends "base.html" %}

{% block content %}

      <div class="view" style="background-image: url('https://wallpapercave.com/wp/wp3208773.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 0% 15%;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>About Us</strong>
                  </h1>

                  <p>
                    <strong>At Rent a Cat, we are dedicated to helping people find their purr-fect feline companion.  </strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <p><strong>Our team consists of four passionate cat lovers - <em>Abena, Linus, Clara, and Marie</em> - who have come together to create a platform that allows you to book a cat from your local pet shelter for a certain period of time.</strong></p>
                    <p><strong>We understand that adopting a pet is a big decision, and we want to make it as easy as possible for you to find the right match. That's why our web page allows you to try out living with a cat before committing to adoption. This way, you can see if a cat is a good fit for your lifestyle and personality, and the cat can also get a chance to adjust to living with you.</strong></p>
                    <p><strong>But our services don't just stop at the booking process. We are also here to support you throughout the duration of your cat rental. If you have any questions or concerns, or if you just want to share cute pictures of your furry friend, we are always here to listen.</strong></p>
                    <p><strong>At Rent a Cat, we are not just in the business of facilitating cat rentals - we are also on a mission to promote responsible pet ownership and help more cats find loving homes. We hope that our web page will not only bring joy to cat lovers, but also make a positive impact on the lives of felines in need.</strong></p>
                    <p style="text-align: center;"><strong>Thank you for choosing Rent a Cat. We hope you have a great experience with us and find the purr-fect feline companion to share your life with.</strong></p>
                </div>
              </div>
      </div>

{% endblock content %}
