      <!--Carousel Wrapper-->
      <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel" style="height: 75%">

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">
            <div class="view" style="background-image: url('https://wallpapercave.com/wp/wp3208773.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 0% 15%;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Rent A Cat</strong>
                  </h1>

                  <p>
                    <strong>Welcome to Rent a Cat, the premier online cat rental shop! </strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <strong>Are you looking for a feline companion for a short period of time? Look no further. <br> We have a variety of cats to choose from, all with distinct personalities and characteristics. <br>Simply browse our selection and pick out the perfect cat for you. <br><br> Give it a try today!</strong>
                  </p>

                  <a target="_blank" href="/how-to/" class="btn btn-outline-white btn-lg">LEARN HOW IT WORKS
                    <i class="fas fa-cat"></i>
                  </a>
                </div>
                <!-- Content -->

              </div>
              <!-- Mask & flexbox options-->

            </div>
          </div>
          <!--/First slide-->

          <!--Second slide-->
          <div class="carousel-item">
            <div class="view" style="background-image: url('https://wallpapercave.com/wp/wp3208771.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 0% 15%;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Rent A Cat</strong>
                  </h1>

                

                  <p class="mb-4 d-none d-md-block">
                    <strong>Are you looking for a feline companion for a short period of time? Look no further. <br> We have a variety of cats to choose from, all with distinct personalities and characteristics. <br>Simply browse our selection and pick out the perfect cat for you. <br><br> Give it a try today!</strong>
                  </p>

                  <a target="_blank" href="/how-to/" class="btn btn-outline-white btn-lg">LEARN HOW IT WORKS
                    <i class="fas fa-cat"></i>
                  </a>
                </div>
                <!-- Content -->

              </div>
              <!-- Mask & flexbox options-->

            </div>
          </div>
          <!--/Second slide-->

          <!--Third slide-->
          <div class="carousel-item">
            <div class="view" style="background-image: url('https://wallpapercave.com/wp/wp3208779.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 0% 15%;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Rent A Cat</strong>
                  </h1>

                  <!--<p>
                    <strong>Best & free guide of responsive web design</strong>
                  </p>-->

                  <p class="mb-4 d-none d-md-block">
                    <strong>Are you looking for a feline companion for a short period of time? Look no further. <br> We have a variety of cats to choose from, all with distinct personalities and characteristics. <br>Simply browse our selection and pick out the perfect cat for you. <br><br> Give it a try today!</strong>
                  </p>

                  <a target="_blank" href="/how-to/" class="btn btn-outline-white btn-lg">LEARN HOW IT WORKS
                    <i class="fas fa-cat"></i>
                  </a>
                </div>
                <!-- Content -->

              </div>
              <!-- Mask & flexbox options-->

            </div>
          </div>
          <!--/Third slide-->

        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->

      </div>
      <!--/.Carousel Wrapper-->