{% extends "base.html" %}

{% block content %}

  <main >
    <div class="container wow fadeIn">

      <h2 class="my-5 h2 text-center">Request Summary</h2>

      <div class="row">
        {% for order_item in order.items.all %}
          <!--set requested cats unavailable-->
        {% endfor %}

        <div class="col-md-12 mb-4">
          <p>Success message: You successfully requested to rent our darling. Please make sure to... Below you find the summary or your order.</p>
        </div>

        {% include "order_snippet.html" %}

      </div>

    </div>
  </main>
  
{% endblock content %}




