
{% load crispy_forms_tags %}

{% block content %}

<main>
    
        <div class="card">
        
          <form method="POST" class="card-body">
            {% csrf_token %}

            <h4 class="text-muted">Address</h4>
            <br>

            <div class='hideable_shipping_form'>

              <div class="md-form mb-5">
                <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' />
                <label for="shipping_address" class="">Address</label>
              </div>

              <div class="md-form mb-5">
                <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' />
                <label for="shipping_address2" class="">Address 2 (optional)</label>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">Country</label>
                  {{ form.shipping_country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="shipping_zip">Zip</label>
                  <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Finish request</button>

          </form>

        </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

use_default_shipping.addEventListener('change', function() {
if (this.checked) {
  hideable_shipping_form.hide();
} else {
  hideable_shipping_form.show();
}
})

use_default_billing.addEventListener('change', function() {
if (this.checked) {
  hideable_billing_form.hide();
} else {
  hideable_billing_form.show();
}
})

</script>
{% endblock extra_scripts %}