{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column with primary cat image-->
        <div class="col-md-6 mb-4">
            <img src="{{ item.image.url }}" class="card-img-top">
        </div>

        <!--Grid column with badges, price and texts-->
        <div class="col-md-6 mb-4">

          <div class="p-4">
            <p class="my-1 h1">{{ object.title }}</p>
            <div class="mb-3">
              <a href="">
                <span class="badge badge-pill purple">{{ object.get_category_display }}</span>
                <span class="badge badge-pill primary-color">{{ item.get_size_display }}</span>
                <span class="badge badge-pill secondary-color">{{ item.get_label_display }}</span>
                <span class="badge badge-pill btn-dark">{{ item.get_gender_display }}</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">Rental fee: {{ object.price }} €/h</span>
            </p>

            <br></br>

            <p class="lead font-weight-bold">Description</p>

            <p class="lead">{{ object.description }}</p>
            
            <p class="lead font-weight-bold">Reviews</p>

            <p class="lead">{{ object.reviews|linebreaks }}</p>
            
            {% comment %} <form class="d-flex justify-content-left">
              <!-- Add to cart and remove from cart buttons -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Like me?</h4>

          <p></p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row with additional cat photos-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="{{ item.image2.url }}" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="{{ item.image3.url }}" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="{{ item.image4.url }}" class="img-fluid" alt="">
        </div>

      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
